* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: rgba(2, 72, 94, 0.699);
}

.input-musica {
    color: whitesmoke;
    margin-top: 10px;
}


.btn-input {
    margin-top: 10px;
}

.input-container {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

.container-letras {
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    padding: 2.5em;
}

.letra-musica {
    padding: 1em;
}

.traducao-musica {
    padding: 1em;
}
